body {
    background-image: url(1.jpg);
}
.div1 {
    background-color: rgb(0,255,255,0.3);
    color: white;
    border: 3px solid white;
    padding: 60px;
    margin: 60px;
    font-size: 25px;
    position: fixed;
    z-index: 2;

}
.div2 {
    background-color: rgb(0,0,255,0.3);
    color: white;
    border: 3px solid white;
    padding: 50px;
    margin: 50px;
    font-size: 25px;
    position: absolute;
    height: 2000px;
}